.icon {
  height: 24px;
  width: 24px;
  margin: 0 40px 0 0;
}

.delete {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  cursor: pointer;
}
.dumpster {
  background: none;
  border: none;
}
